.cart{
     position: sticky;
    top: 80px;
    padding: 30px 20px;
    text-decoration: none;
}
.last-cart button{
    padding: 2px 20px;
    font-size: 20px;
    display: inline;
    border-radius: 10px;
    background-color: rgb(255, 128, 0);
    color: white;
    margin-top: 40px;
    text-decoration: none;
    
}
.last-cart button:active{
    background-color: red;
}
.reviewProducts{
    text-decoration: none;
    
}