.header {
    height: 80px;
    background-color: #1C2B35;;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    color:white;

}

.header a {
    text-decoration: none;
   margin-left:20px
}
.header a:hover{
    color: orange;
}

.text-white{
    color: white;
    padding-left: 5px;
}